@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试HTML5 Canvas</title>
    <script src="@Url.Content("~/Content/JS/declare.js")"></script>
    <script src="@Url.Content("~/Content/JS/Draw.js")"></script>
    <script src="@Url.Content("~/Content/JS/ShineStar.js")"></script>
    <script src="@Url.Content("~/Content/JS/Index.js")"></script>
</head>
<body style="background:black;">
    <canvas id="LCanvas" height="667" width="375" style="border:green solid 1px;">A Drawing of something</canvas>
    <canvas id="LTools1" height="100" width="800" style="border:gray solid 1px; display:block; ">A Drawing of something</canvas>
    <canvas id="LCanvas1" height="100" width="800" style="border:#0F0 solid 1px;">A Drawing of something</canvas>
</body>
</html>
